.results-list {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 8px #ddd;
    border-radius: .5rem;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0 1rem;

}