#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #eceaea;
}

h1 {
  color: #242424;
  align-items: center;
  margin-left: 2rem;
}

img {
  width: 10rem;
  height: auto;
  border-radius: 15rem;
  margin-left: 2rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}